services:
  rabbitmq:
    image: rabbitmq:4.2.2-management-alpine
    container_name: chatbot-queue
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=admin
